
body {
    background-color: grey;
}

#container {
    position: absolute;
    background-color: white;
    height: 400px;
    width: 600px;
    left: 350px;
    bottom: 100px;
}

form {
    position: absolute;
    left: 50px;
}

