
body {
    background-color: grey;
}

#container {
    position: absolute;
    background-color: white;
    height: 450px;
    width: 450px;
    left: 50%;
    bottom: 10%;
}

form {
    position: absolute;
}

