.member-overview {
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    font-size: 1rem;
    width: 300px;
    height: auto;
}

.member-heading{
    color: #3E4C59;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1.1px;
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.member-div {
  justify-content: flex-start;
  padding: 0.7em 0.7em;
  border-bottom: 0.3px solid #E0E3E8;
  width: 280px;
  display: block;
  height: auto;
}

.member-div:last-child {
    border-radius: 0 0 8px 8px;
}

.member-name{
  position: relative;
  left: 8px;
  bottom: 3px;
  color: #3E4C59;
}

mini-member-tags {
  width: 20%;
  height: auto;
}

.mini-member-tag {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
}

.mini-member-tag:first-child {
  margin-right: 0px;
}