body{
    background: #fff;
}

.button{
    background: pink;
    padding: 15px;
    top: 50%;
    left: 50%;
    margin: 40%;
    color: white;
    border: 0;
}

.box{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.boxContent{
    position: relative;
    border-radius: 10px;
    height: 400px;
    background-color: white;
    margin: 40% auto;
    padding: 20px;
    width: 70%;
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size: 20px;
}
.closeBtn:hover, .closeBtn:focus{
    color: black;
    cursor: pointer;
}

.tab{
    overflow: hidden;
}
.tab button {
    position: relative;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 10px;
    left: 350px;
    transition: 0.3s;
    opacity: 0.6;
    font-size: 15px;
}
.tab button:hover{
    color: hsla(0, 100%, 50%, 0.4);
    border-bottom: 1px solid hsla(0, 100%, 50%, 0.4);
    opacity: 1;
}
.tab button.active{
    border-bottom: 1px solid hsla(0, 100%, 50%, 0.4);
    opacity: 1;
;
}
.tabContent {
    display: none;
    border-top: none;
    animation: fadeEffect 1s;
}
@keyframes fadeEffect {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


h3 {
    position: relative;
    font-size: 15px;
    text-align: left;
}

h1{
    position: relative;
    font-size: 25px;
    text-align: left;
}

.tagContent{
    position: relative;
}
.tag:not(body).green {
    background-color: rgb(121, 199, 199);
    color: whitesmoke;
}
.tag:not(body).purple {
    background-color:rgb(160, 121, 199) ;
    color: whitesmoke;
}
.tag:not(body).pink {
    background-color: hsla(0, 100%, 50%, 0.4);
    color: whitesmoke;
}
.tag:not(body) {
    align-items: center;
    background-color: whitesmoke;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}

#addTags{
    border: 0;
    color: #ccc;
}
#addTags:hover{
    color: black;
}

.descriptionContent{
    position: relative;
}

#addMember{
    border: 0;
    color: #ccc;
}
#addMember:hover{
    color: black;
}

.members:not(body) {
    align-items: center;
    background-color: skyblue;
    border-radius: 100%;
    color: #4a4a4a;
    line-height: 1.5;
    padding-left: 0.50em;
    padding-right: 0.50em;
    padding-top: 0.50em;
    padding-bottom: 0.50em;
    white-space: nowrap;
}
.members:not(body).m1 {
    background-color: hsla(0, 100%, 50%, 0.4);
    color: whitesmoke;
}
.members:not(body).m2 {
    background-color: hsla(0, 100%, 50%, 0.4);
    color: whitesmoke;
}

.memberContent{
    position: relative;
}

.actionContent{
    position: relative;
}




















