/*
*
* Document is ordered alphabetically, and separated into font import, reset, general tags
* and generic tags. If you wish to view all calsses starting with the letter C, do
* ctrl+f (cmd+f on mac) and type "C*".
*
* CSS for kanban exam project.
*
* Author: Gruppe 8
*
*/

/* ============================ FONT IMPORT ============================ */

/* ===== GT Walsheim ===== */
@font-face {
  font-family: 'Walsheim';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/gt-walsheim/gt-walsheim-web.ttf");
}
@font-face {
  font-family: 'Walsheim';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/gt-waslheim/gt-walsheim-regular-oblique-web.ttf");
}
@font-face {
  font-family: 'Walsheim';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/gt-walsheim/gt-walsheim-medium-web.zip");
}
@font-face {
  font-family: 'Walsheim';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/gt-washeim/gt-walsheim-medium-oblique-web.ttf");
}
@font-face {
  font-family: 'Walsheim';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/gt-walsheim/gt-walsheim-bold-web.ttf");
}
@font-face {
  font-family: 'Walsheim';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/gt-walsheim/gt-walsheim-bold-oblique-web.ttf");
}

/* ============================ RESET ============================ */

/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* ========================= GENERAL TAGS ======================== */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: #F8F8F8;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: 'Walsheim';
}

body {
  color: #4a4a4a;
  border-top: 6px solid #f15998;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

/* ========================= GENERIC CLASSES ======================== */

/* ===== A* ===== */

a.navbar-item,
.navbar-link {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  a.navbar-item.is-active,
  .navbar-link.is-active {
    color: #0a0a0a;
  }
  a.navbar-item.is-active:not(:focus):not(:hover),
  .navbar-link.is-active:not(:focus):not(:hover) {
    background-color: transparent;
  }
}

.archived-card {
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.50);
  display: inline-block;
  color: #3E4C59;
  height: auto;
  margin-bottom: 30px;
  margin-left: 30px;
  width: 308px;
}

.archived-card-body {
  background-color: #fff !important;
  height: auto;
  padding: 13px;
  width: 100%;
}

.archived-card-body p {
  display: block;
  margin-right: 60px;
}

.archived-card-footer {
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 1px #E4E7EB solid;
  color: #7B8794;
  font-size: 14px;
  min-height: 45px;
  padding: 13px;
}

.archived-card-footer .assignee {
  display: inline-block;
  float: left !important;
  height: auto;
  width: 65%;
}

.archived-card-footer .dueDate {
  display: inline-block;
  float: right !important;
  width: 35%;
}

.archived-card-footer .dueDate span {
  float: right !important;
}

.archived-card-header {
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: auto;
  padding: 13px;  
}

.archived-card-header .actions {
  float: right !important;
  width: 10%;
}

.archived-card-header .actions a {
  float: right !important;
  text-decoration: none;
}

.archived-card-header .tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  float: left !important;
  justify-content: flex-start;
  width: 90%;
}

.archived-card-header .tags img{
  margin-bottom: 15px;
  margin-right: 8px;
}

/* ===== B* ===== */

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button, .input, .textarea, .select select, .file-cta,
.file-name, .pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
}

.button {
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
}

.button.is-brand {
  background-color: #F364A2;
  border-color: transparent;
  color: #fff;
}

.button.is-brand:hover {
  background-color: #CE4A83;
  color: #fff;
}

.button.is-brand.is-outlined {
  background-color: transparent;
  border-color: #F364A2;
  color: #F364A2;
}

.button.is-brand.is-outlined:hover {
  background-color: #F364A2;
  border-color: #F364A2;
  color: #FFFFFF;
}

.button.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}

.button.is-silenced {
  background: 0;
  border: 0;
  color: #7B8794;
}

/* ===== C* ===== */

.card-container {
  background: white;
  height: auto;
  margin: 2px;
  min-height: 150px;
  width: 115%;
}

.card-container-hover { 
  border: dashed 3px #F364A2 !important;
}

.card-dragging {
  display: absolute;
}

.card-hold {
  border: solid 5px #ccc;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
  .container.is-fluid {
    margin-left: 32px;
    margin-right: 32px;
    max-width: none;
  }
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

@media screen and (min-width: 769px), print {
  .column.is-one-third, .column.is-one-third-tablet {
    flex: none;
    width: 33.3333%;
  }

  .column.is-full, .column.is-full-tablet {
    flex: none;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .column.is-one-quarter-desktop {
    flex: none;
    width: 25%;
  }
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.columns:last-child {
  margin-bottom: -0.75rem;
}

@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
    display: flex;
  }
}

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  margin-top: 5px;
  position: relative;
  text-align: left;
}

.crown {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* ===== D* ===== */

.due-date-list {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  margin-bottom: 20px;
}

.due-date-list-heading, 
.tag-heading,
.member-heading {
  border-radius: 8px 8px 0 0;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.25;
  padding: 0.75em 0.75em 0em 0.75em;
}

.due-date-card-container {
  width: 100%;
}

.due-date-list-block {
  align-items: center;
  color: #363636;
  display: flex;
  justify-content: flex-start;
  padding: 0.5em 0.75em;
}

.due-date-list-block:last-child {
  border-radius: 0 0 8px 8px;
}

.due-date-list-heading h1, 
.tag-heading h1,
.member-heading h1 {
  color: #7B8794;
  font-size: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-top: 10px;
}

.due-date-list-card {
  border-left: 3px solid #F364A2;
  padding-left: 8px;
  width: 100%;
}

.due-date-list-card .meta {
  float: left;
  width: 80%;
}

.due-date-list-card span {
  color: #7B8794;
  font-size: 16px;
}

.due-date-list-card .mini-tags {
  float: right;
  height: auto;
  width: 20%;
}

.due-date-list-card .mini-tag {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  float: right;
  height: 18px;
  margin-right: 5px;
  width: 18px;
}

.due-date-list-card .mini-tag:first-child {
  margin-right: 0px;
}

.due-date-list-card .title {
  float: left;
  width: 100%;
}

.due-date-list-card .title p {
  color: #616E7C;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

.due-date-expired-container {
  border-bottom: 1px solid #e0e3e7;
  display: none;
  width: 100%;
}

.due-date-list-progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 290486px;
  display: block;
  height: 1rem;
  margin-top: 10px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.due-date-list-progress::-webkit-progress-bar {
  background-color: #E4E7EB;
}

.due-date-list-progress.is-brand::-webkit-progress-value {
  background-color: #f15998;
}

.due-date-list-progress.is-large {
  height: 2rem;
}

/* ===== E* ===== */

/* ===== F* ===== */

.field:not(:last-child) {
  margin-bottom: 0.75rem;
}

.first-place {
  display: flex;
  justify-content: center;

}

/* ===== G* ===== */

/* ===== H* ===== */

/* ===== I* ===== */

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.1rem;
  width: 1.1rem;
  margin-right: 3px;
}

.input, .textarea, .select select {
  background-color: white;
  border-color: #e0e3e8;
  border-radius: 4px;
  color: #363636;
}

.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.input, .textarea {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
}

/* ===== J* ===== */

/* ===== K* ===== */

/* ===== L* ===== */

.label {
  color: #9AA5B1;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.leaderboard-card {
  background-color: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.50);
  padding: 10px 15px 15px 10px;
  height: auto;
  margin-top: 20%;
  width: 100%;
}

.leaderboard-card-circle-container {
  float: left;
  width: 30%;
}

.leaderboard-card-txt-container {
  display: inline;
}

.leaderboard-card-txt-container p {
  font-size: 22px;
  font-weight: 600;
  margin: 0px;
}

.leaderboard-card-txt-container span {
  color: #7B8794;
  font-size: 20px;
  margin: 0px;
}

.leaderboard-placement {
  display: flex;
  justify-content: center;
  margin-top: -25%
}

@media screen and (max-width: 600px) {
  #first-place {
    margin-bottom: 25%;
  }

  #second-place {
    margin-bottom: 25%;
  }

  .leaderboard-card {
    margin-bottom: -100px;
    margin-left: 15%;
    width: 70%;
  }
}

@media screen and (max-width: 796px) {
  #first-place {
    margin-bottom: 25%;
  }

  #second-place {
    margin-bottom: 25%;
  }

  .leaderboard-card {
    margin-bottom: -70px;
    margin-left: 15%;
    width: 70%;
  }
}

.list {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  font-size: 1rem;
}

.list-heading:first-child,
.list-block:first-child {
  border-top: 1px solid #dbdbdb;
}

.list-heading {
  background-color: #FFE3EC;
  border-radius: 8px 8px 0 0;
  color: #A30664;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 1.1px;
  line-height: 1.25;
  padding: 0.5em 0.75em;
  text-transform: uppercase;
}

.list-block {
  align-items: center;
  color: #363636;
  display: flex;
  justify-content: flex-start;
  padding: 0.5em 0.75em;
}

.list-block:last-child {
  border-radius: 0 0 8px 8px;
}

/* ===== M* ===== */

.member-container {
  margin-top: 10px;
}

.member-div {
  justify-content: flex-start;
  padding: 0.7em 0.7em;
  border-bottom: 0.3px solid #E0E3E8;
  width: 100%;
  display: block;
  height: auto;
}

.member-div:last-child {
  border-radius: 0 0 8px 8px;
}

.member-overview {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  font-size: 1rem;
  width: 100%;
  height: auto;
}

.meta-text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.meta-text p.cards {
  color: #7B8794;
  font-size: 22px;
}

.meta-text p.placement {
  color: #3E4C59;
  font-size: 22px;
}

.meta-text p.member {
  color: #3E4C59;
  font-size: 22px;
  font-weight: 600;
}

.mini-tags-tag-list {
  width: 20%;
  height: auto;
  margin-top: 15px;
}

.mini-tag-tag-list {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: inline-block;
}

.mini-tag-tag-list:first-child {
  margin-right: 0px;
}

.modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
}

.modal.is-active {
  display: flex;
}

.modal, .modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.86);
  position: fixed;
}

.modal-content,
.modal-card {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 769px), print {
  .modal-content,
  .modal-card {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
  }
}

.modal-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: auto;
  -ms-overflow-y: visible;
}

.modal-card-body {
  -webkit-overflow-scrolling: touch;
  background-color: white;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 20px;
}

.modal-card-head {
  align-items: center;
  background-color: #FFFFFF;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid #E4E7EB;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  position: relative;
}

.modal-card-head h1 {
  color: #52606D;
  padding: 20px;
  margin-right: auto;
  justify-content: flex-start !important;
}

.modal-card-head-menu {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px 20px 0px 20px;
  position: relative;
  width: auto;
}

.modal-card-foot {
  align-items: center;
  background-color: #E4E7EB;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: 20px;
  position: relative;
}

.modal-card-foot .button:not(:last-child) {
  margin-right: 0.5em;
}

/* ===== N* ===== */

.navbar {
  background-color: white;
  border-bottom: 2px solid #E4E7EB;
  margin-bottom: 25px;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}

.navbar.is-white {
  background-color: white;
  color: #7B8794;
}

.navbar.is-white .navbar-burger {
  color: #f15998;
}

@media screen and (min-width: 1024px) {
  .navbar.is-white .navbar-start > .navbar-item,
  .navbar.is-white .navbar-start .navbar-link,
  .navbar.is-white .navbar-end > .navbar-item,
  .navbar.is-white .navbar-end .navbar-link {
    color: #7B8794;
  }
}

.navbar > .container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbar-burger {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.navbar-menu {
  display: none;
}

.navbar-item,
.navbar-link {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
}

.navbar-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    align-items: stretch;
    display: flex;
  }
  .navbar {
    min-height: 3.25rem;
  }

  .navbar-burger {
    display: none;
  }
  .navbar-item,
  .navbar-link {
    align-items: center;
    display: flex;
  }
  .navbar-item {
    display: flex;
  }

  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-start {
    justify-content: center !important;
    margin-left: auto;
  }
  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }

  .navbar > .container .navbar-brand,
  .container > .navbar .navbar-brand {
    margin-left: -.75rem;
  }
  .navbar > .container .navbar-menu,
  .container > .navbar .navbar-menu {
    margin-right: -.75rem;
  }

  .navbar.is-white 
  .navbar-start > a.navbar-item:focus, 
  .navbar.is-white .navbar-start > a.navbar-item.is-active, 
  .navbar.is-white 
  .navbar-start 
  .navbar-link:focus, 
  .navbar.is-white 
  .navbar-start 
  .navbar-link:hover, 
  .navbar.is-white 
  .navbar-start 
  .navbar-link.is-active, 
  .navbar.is-white 
  .navbar-end > a.navbar-item:focus, 
  .navbar.is-white .navbar-end > a.navbar-item.is-active, 
  .navbar.is-white 
  .navbar-end 
  .navbar-link.is-active {
    border-bottom: 3px solid #F364A2;
    color: #3E4C59;
  }

  .navbar.is-white .navbar-end > a.navbar-item:hover,
  .navbar.is-white .navbar-start > a.navbar-item:hover {
    color: #3E4C59;
  }
}

.notification {
  background-color: #fdf3c9;
  border-left: 5px solid #F7C75F;
  padding: 16px 12px 12px 16px;
  height: aut0;
  margin-bottom: 20px;
  min-height: 85px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .notification {
    height: 200px;
  }
}

@media screen and (max-width: 796px) {
  .notification {
    height: 140px;
  }

  .notification-icon {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .notification {
    height: 90px;
  }
}

@media screen and (max-width: 1024px) {
  .notification {
    height: 90px;
  }
}


.notification-icon {
  float: left;
  margin-right: 10px;
  width: auto;
}

.notification-text {
  float:left;
  width: auto;
}

.notification-text h1 {
  color:#644E2B;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: -4px;
  
}

.notification-text p {
  color: #947B53;
  height: auto;
  margin-top: 5px;
}

.notification.is-success {
  background-color: #E3FEE6;
  border-left: 5px solid #398641;
}

.notification-text.is-success h1 {
  color:#398641;
}

.notification-text.is-success p {
  color: #2A7232;
}

/* ===== O* ===== */

/* ===== P* ===== */

.progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 290486px;
  display: block;
  height: 1rem;
  margin-bottom: 25px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.progress::-webkit-progress-bar {
  background-color: #dbdbdb;
}

.progress.is-brand::-webkit-progress-value {
  background-color: #f15998;
}

.progress.is-large {
  height: 1.5rem;
}

/* ===== Q* ===== */

/* ===== R* ===== */

/* ===== S* ===== */

.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

.select:not(.is-multiple) {
  height: 2.25em;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #3273dc;
  right: 1.125em;
  z-index: 4;
}

.select select {
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: none;
}

.select select:not([multiple]) {
  padding-right: 2.5em;
}

.select.is-fullwidth {
  width: 100%;
}

.select.is-fullwidth select {
  width: 100%;
}

.silenced-text {
  color: #CBD2D9;
  text-decoration: none;
}

.silenced-text span {
  margin-right: 2px;
}

/* ===== T* ===== */

.tab button {
  background-color: inherit;
  border: none;
  color: #7B8794;
  display: flex;
  font-size: 18px;
  margin-right: 20px;
  padding-bottom: 20px;
  padding: 0px 15px 15px 15px;
  text-decoration: none;
}

.tab button:hover {
  color: #3E4C59;
}

.tab button.active {
  border-bottom: 3px solid #D96F9D;
  color: #3E4C59;
}

.tag {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 290486px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 0.75rem;
  font-weight: 600;
  height: 2em;
  justify-content: center;
  letter-spacing: 0.4px;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  margin-bottom: 15px;
}

.tags .tag:not(:last-child) {
  margin-right: 0.4rem;
}

.tag-overview {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  font-size: 1rem;
  height: auto;
  margin-bottom: 20px;
  width: 100%;
}

.tag-div {
  justify-content: flex-start;
  padding: 0.7em 0.7em;
  border-bottom: 0.3px solid #E0E3E8;
  width: 500%;
  display: block;
  height: auto;
}

.tag-div:last-child {
  border-radius: 0 0 8px 8px;
}

.tag-name, 
.member-name {
  bottom: 3px;
  color: #3E4C59;
  font-size: 20px;
  left: 8px;
  position: relative;
}

.task-card {
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.50);
  display: block;
  color: #3E4C59;
  height: auto;
  margin-bottom: 10px;
  width: 100%;
}

.task-card-body {
  background-color: #fff !important;
  height: auto;
  padding: 13px;
  width: 100%;
}

.task-card-body p {
  display: block;
  margin-right: 60px;
}

.task-card-footer {
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 1px #E4E7EB solid;
  color: #7B8794;
  font-size: 14px;
  min-height: 45px;
  padding: 13px;
}

.task-card-footer .assignee {
  display: inline-block;
  float: left !important;
  height: auto;
  width: 63%;
}

.task-card-footer .dueDate {
  display: inline-block;
  float: right !important;
  width: 37%;
}

.task-card-footer .dueDate span {
  float: right !important;
}

.task-card-header {
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: auto;
  padding: 13px;  
}

.task-card-header .actions {
  float: right !important;
  width: 10%;
}

.task-card-header .actions a {
  float: right !important;
  text-decoration: none;
}

.task-card-header .tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  float: left !important;
  justify-content: flex-start;
  width: 90%;
}

.task-card-header .tags img{
  margin-bottom: 15px;
  margin-right: 8px;
}

.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: 0.625em;
  resize: vertical;
}

.textarea:not([rows]) {
  max-height: 600px;
  min-height: 120px;
}

/* ===== U* ===== */

/* ===== V* ===== */

/* ===== W* ===== */

/* ===== X* ===== */

/* ===== Y* ===== */

/* ===== Z* ===== */